body {
    font-family: 'Roboto', sans-serif;
    background: url('../images/background.jpg') no-repeat center center fixed;

    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    position: relative;
}

.url-logo {
    position: absolute;
    top: 10px;
    right: 10px;
}

.url-logo i {
    font-size: 24px;
    color: white;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: black;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #fff;
}

.features {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature {
    flex: 1 1 30%;
    max-width: 30%;
    margin: 20px;
    text-align: center;
}

.feature i {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #fff;
}

.feature h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #fff;
}

.feature p {
    font-size: 1rem;
    color: #ddd;
}
